@media only screen and (max-width: 992px) and (min-width: 769px) {
  .avatar-space {
    display: none;
  }
  .col-md-sm {
    height: auto;
  }
  .col-md-lg {
    height: auto;
  }
  .sothich {
    position: relative;
  }
  .hoatdong {
    position: relative;
    top: -100px;
  }
  .duantrangwebxemtintuc {
    margin-top: -100px;
  }
  /* bài tập nâng cao */
  .d-flex {
    flex-direction: column !important;
  }
}
